AWS_REGION=ap-south-1
KINESIS_STREAM_NAME=iot-sensor-stream
S3_RAW_BUCKET=iot-pipeline-raw-YOUR-ACCOUNT-ID
S3_PROCESSED_BUCKET=iot-pipeline-processed-YOUR-ACCOUNT-ID
SNS_ALARM_TOPIC_ARN=arn:aws:sns:ap-south-1:YOUR-ACCOUNT-ID:iot-temp-alarm
